body {
  padding-top: 75px;
}

.navbar a{
	color:#fff !important;
}

.login-block{
	background:#333;
	color:#fff;
	padding:10px;
	margin-bottom:20px;
}

.panel-list a{
	display:block;
	color:#666;
}

.panel-list .panel-heading h3{
	padding:4px;
	font-size:18px;
}

.panel-heading-green{
	background:#3b7e14 !important;
	color:#fff !important;
}

.panel-heading-dark{
	background:#333333 !important;
	color:#fff !important;
}

.game{
	position:relative;
}

.game-title{
	text-align:center;
	padding:5px;
	background:#333;
	color:#fff;
}

.game img{
	width:100%;
}

.game-price{
	position:absolute;
	bottom:100px;
	right:15px;
	background:#3b7e14;
	color:#fff;
	padding:5px;
	font-size:22px;
}

.game-add{
	margin:5px auto 20px auto;
	width:100%;
	text-align:center;
}

.details-price{
	font-size:25px;
	margin-bottom:5px;
}

.details-rating{
  font-size:25px;
  margin-bottom:20px;
}

.details img{
	width:100%;
}

.success-msg {

  margin: 10px;
  padding: 5px;
  width: 97%;
  border: 2px solid #2b542c;
  border-radius: 3px;
  background-color: rgba(152,251,152,0.6);
  color: #2b542c;
  font-size: 25px;
}

.error-msg {

  margin: 10px;
  padding: 5px;
  width: 97%;
  border: 2px solid #660000;
  border-radius: 3px;
  background-color: rgba(255,0,0,0.3);
  color: #660000;
  font-size: 25px;
}

.footer{
	background:#333;
	color:#fff;
	height:70px;
	text-align:center;
	padding-top:20px;
}



